/* FONTS */
* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: neue-haas-grotesk-display, sans-serif !important;
}

ul,
li,
p,
p em,
p a,
button,
:before {
    font-family: proxima-nova, sans-serif !important;
}

/* BASE FONT SIZE */
html {
    font-size: 17.5px;
}

@media (max-width: 450px) {
    html {
        font-size: 15.5px;
    }
}

body {
    background: #eee;
}

h1,
h2 {
    font-weight: 700;
    letter-spacing: 0.3px;
}

h1 {
    font-size: 2rem;
    line-height: 100%;
}

h2 {
    font-size: 1.5rem;
    line-height: 130%;
    margin-bottom: 20px;
    margin-top: 20px;
    color: #333;
}

p {
    font-size: 1rem;
    font-weight: 300;
}

p,
ul {
    margin-bottom: 25px;
}

p,
li {
    line-height: 155%;
}

b {
    font-weight: 700;
}

ul {
    list-style-position: inside;
}

li {
    display: flex;
    align-items: center;
    font-weight: 400;
    margin-bottom: 15px;
}

li a.thumb {
    display: inline-block;
    flex-shrink: 0;
    background-size: cover !important;
    background-position: center;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 5px 20px 5px 0;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}

li a.thumb:hover {
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

p em {
    font-style: italic;
}

.small {
    font-size: 0.7rem;
}

.caps {
    text-transform: uppercase;
}

.small.caps {
    line-height: 80%;
}

a {
    color: red;
    text-decoration: underline;
}

a:hover {
    color: #c00;
    cursor: pointer;
    cursor: hand;
}

ul {
    margin: 0 auto;
}

button.readmore {
    position: -webkit-sticky;
    position: sticky;
    top: 15px;

    min-width: 200px;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px 15px;
    background: #eee;
    letter-spacing: 2px;
    cursor: pointer;
    cursor: hand;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 20px;
    z-index: 1;
    /* box-shadow: 0px 0px 30px rgba(255,255,255,0.9); */
}

button.readmore:focus {
    outline: none;
}

hr {
    border: 1px solid #ddd;
}

img.float {
    float: right;
    width: 200px;
    max-width: 40vw;
    margin: 5px 5px 15px 15px;
    border-radius: 175px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}


/* LAYOUT */

body {
    min-height: 100vh;
}

footer {
    margin-top: 50px;
    /* border-top: 1px solid grey; */
    padding: 15px;
}

section {
    padding: 0 15px 15px;
}

section.smaller {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

section:first-of-type {
    padding-top: 20px;
    padding-top: calc(10px + 5vw);
}

section:last-of-type {
    margin-bottom: 100px;
}

section h1,
section h2,
section p,
section ul {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

section.fullbleed h1,
section.fullbleed h2,
section.fullbleed p,
section.fullbleed ul {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 630px;
}

section p:last-child,
section ul > li:last-child {
    margin-bottom: 0;
}

section.fullbleed {
    padding-left: 0;
    padding-right: 0;
}

/* gallery css */

.wide-gallery {
    position: relative;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding-top: 40px;
    cursor: pointer;
    cursor: hand;
    margin: 0 auto;
}

.wide-gallery > div {
    flex-shrink: 0;
}

.wide-gallery > div img {
    height: 300px;
    width: auto !important;
    margin-right: 15px;
}

.wide-gallery.expanded > div img {
    height: 600px;
    max-height: 90vh;
    width: auto !important;
}

.wide-gallery:before {
    content: "Swipe or scroll to see more >>";
    padding: 15px;
    display: block;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #555;
    top: 0;
    font-size: 0.8rem;
}

.photoswipe-gallery {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
}

.photoswipe-image {
    break-inside: avoid;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

.photoswipe-image img {
    width: 100%;
    vertical-align: bottom;
}


@media (min-width: 451px) {
    .photoswipe-gallery {
        column-count: 2;
        column-gap: 27px;
    }

    .photoswipe-image {
        margin-bottom: 30px;
        border-bottom: 3px solid #555;
    }

    .photoswipe-image img {
        margin-bottom: -2px;
    }
}

@media (min-width: 1024px) {
    .photoswipe-gallery {
        column-count: 3;
    }
}

@media (max-width: 450px) {
    .photoswipe-gallery {
        display: flex;
        overflow: auto;
        columns: 0;
        -webkit-overflow-scrolling: touch;
        scroll-snap-type: x mandatory;
        padding-top: 30px;
    }

    .photoswipe-gallery:before {
        content: "Swipe to see more >>";
        padding: 15px;
        display: block;
        position: absolute;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #555;
        top: -13px;
        font-size: 0.8rem;
    }

    .photoswipe-image {
        scroll-snap-align: start;
        width: 100vw;
        height: auto !important;
        flex-shrink: 0;
        margin-right: 25px;
        align-self: flex-start;
    }

    .photoswipe-image img {
        vertical-align: top;
    }

    .hide-on-mobile {
        display: none !important;
    }
}