/* FONTS */
* {
    box-sizing: border-box;
    font-family: neue-haas-grotesk-display, sans-serif !important;
}

/* BASE FONT SIZE */
html {
    font-size: 17px;
}

body {
    background: #eee;
}

h1 {
    font-size: 2rem;
    line-height: 100%;
}

h2 {
    font-size: 1.5rem;
    line-height: 130%;
    font-weight: 300;
}

h1,
h2 {
    font-weight: 700;
    letter-spacing: 0.3px;
}

p {
    font-size: 1rem;
    font-weight: 300;
}

b {
    font-weight: 700;
}

p,
ul {
    margin-bottom: 25px;
}

p,
li {
    line-height: 160%;
    letter-spacing: 0.90px;
}

ul {
    list-style-position: inside;
    padding-left: 1rem;
}

li {
    font-weight: 300;
    margin-bottom: 15px;
    list-style-type: disc;
}

p em {
    font-style: italic;
}

.small {
    font-size: 0.7rem;
    letter-spacing: 0.2px;
}

.caps {
    text-transform: uppercase;
}

.small.caps {
    line-height: 80%;
}

a {
    transition: all 0.3s;
    color: #c00;
    text-decoration: underline;
}

a:hover {
    color: red;
}

ul {
    padding-right: 15px;
    margin: 0 auto;
}


/* LAYOUT */

body {
    min-height: 100vh;
}

footer {
    margin-top: 50px;
    /* border-top: 1px solid grey; */
    padding: 15px;
}

section {
    padding: 15px;
}

section:first-of-type {
    padding-top: 20px;
    padding-top: calc(10px + 5vw);
}

section:last-of-type {
    margin-bottom: 100px;
}

section > h1,
section > h2,
section > p,
section > ul {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

section > p:last-child,
section > ul > li:last-child {
    margin-bottom: 0;
}

