/* header */

.title-contain {
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.title-video {
    position: absolute;
    z-index: -1;    
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

@media screen and (orientation: landscape) {
    .title-video {
        max-width: 100vw;
        background-color: black;
    }
}

@media screen and (orientation: portrait) {
    .title-video {
        transform: translateX(-30%);
    }
}

section.title {
    min-height: 100vh;
    padding: 15px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgba(190,190,190,1) 0%,rgba(255,255,255,1) 50%,rgba(190,190,190,1) 100%);
}

section.title > h1 {
    font-size: calc(2rem + 2.4vw);
    margin-bottom: calc(1rem + 1vw);
}

section.title > h2 {
    font-size: 2rem;
}

section.title > h1,
section.title > h2 {
    color: white;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
    width: 100%;
    max-width: 75vw;
    text-align: left;
    padding-bottom: 20px;
    margin-bottom: 0;
}


@media (max-width: 768px) {
    section.title > h1,
    section.title > h2 {
        max-width: 620px;
    }
}


/* video grid */

.no-resp {
    display: none;
}

@media (min-width: 768px) {

    li a.thumb {
        display: none;
    }

    a.no-resp {
        display: block;
    }

    a.web-img {
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-position: center;
        margin-bottom: 10px;
        border: 1px solid #ccc;
    }
    
    a.web-img:hover {
        border: 1px solid red;
    }
    
    ul.resp {
        transition: all 0.4s;
        max-width: 1170px;
        padding: 0 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    ul.resp > li {
        transition: all 0.4s;
        flex: 1 1 30%;
        display: block;
        list-style-type: none;
        padding: 15px;
        margin-top: 10px;
        max-width: 350px;
    }

    ul.resp > li:hover {
        cursor: pointer;
    }
}
