/* new header */

.newtitle {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newtitle:not(.loaded) {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.logo {
    display: flex;
    width: 265px;
    margin: 0 auto;
}

.letter {
    flex-grow: 1;
}

.letter:not(:first-of-type) {
    margin-left: 5em;
}

.letter > div {
    min-height: 1em;
}

.letter > div,
.letter > div > div,
nav {
    border: 0px solid black;
    border-radius: 0px;
    opacity: 0;
}

.logo {
    transform: scaleX(0.0);
}

.loaded .letter,
.loaded .letter > div,
.loaded .letter > div > div,
.loaded nav {
    opacity: 1 !important;
}

.loaded .logo {
    transform: scaleX(1);
}

.loaded .logo.logoIsDimmed {
    mix-blend-mode: lighten;
}

.loaded .logo.webDesign,
.loaded .logo.code,
.loaded .logo.printDesign,
.loaded .logo.photo,
.loaded .logo.video {
    transform: scale(0.65);
}

.loaded nav.webDesign a,
.loaded nav.code a,
.loaded nav.printDesign a,
.loaded nav.photo a,
.loaded nav.video a {
    transform: scale(1.2);
}

.loaded .r > div {
    border-left: 10px solid black;
    border-top-right-radius: 10em;
}

.loaded .r .top {
    border-right: 10px solid black;
    border-bottom-right-radius: 10em;
}

.loaded .r .bottom {
    border-right: 10px solid black;
}

.loaded .k > div {
    border-left: 10px solid black;
    border-right: 10px solid black;
}

.loaded .k .top {
    border-bottom-right-radius: 5em;
}

.loaded .k .bottom {
    border-top-right-radius: 5em;
}

.loaded .d > div {
    border-left: 10px solid black;
    border-right: 10px solid black;
}

.loaded .d .top {
    border-top-right-radius: 5em;
}

.loaded .d .bottom {
    border-bottom-right-radius: 5em;
}

nav {
    height: 50px;
    text-align: center;
    margin-top: 40px;
}

.loaded nav {
    height: 275px;
}

nav a {
    display: block;
    margin: 25px 10px;
    border-radius: 3px;
    padding: 4px 5px 3px;
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

nav a:hover {
    cursor: pointer;
    cursor: hand;
    text-decoration: underline;
    color: black;
}

@media (max-width: 730px) {
    .logo {
        width: 230px;
    }
}

/* color block */

.colors {
    z-index: -1;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    filter: blur(150px);
}

.loaded .colors {
    opacity: 1;
}

.colors > div {
    flex-grow: 1;
}

.colors > .left {
    transform-origin: left;
}

/* header */

.image-contain { 
    background-size: cover;
    background-position: 50% 30%;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.image-video {
    position: absolute;
    z-index: -1;    
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

@media screen and (orientation: landscape) {
    .image-video {
        max-width: 100vw;
        background-color: #eee;
    }

    /* .image-contain {
        display: block;
    } */
}

@media screen and (orientation: portrait) {
    .image-video {
        transform: translateX(-30%);
    }

    /* .image-contain {
        display: none;
    } */
}

section.title {
    min-height: 100vh;
    padding: 15px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(190,190,190,1) 0%,rgba(255,255,255,1) 50%,rgba(190,190,190,1) 100%);
}

section.title > h1 {
    font-size: calc(2rem + 2.4vw);
    margin-bottom: calc(1rem + 1vw);
}

section.title > h2 {
    font-size: 2rem;
}

section.title > h1,
section.title > h2 {
    color: white;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
    width: 100%;
    max-width: 75vw;
    text-align: left;
    padding-bottom: 20px;
    margin-bottom: 0;
}


@media (max-width: 768px) {
    section.title > h1,
    section.title > h2 {
        max-width: 620px;
    }
}

ul.resp {
    display: flex;
    flex-direction: column;
}

/* video grid */


.text {
    font-size: 0.8rem;
    line-height: 1.6;
    max-width: 100%;
    width: 154px;
}

.text > a:first-of-type {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
    font-weight: 700;
    font-size: 1.1rem !important;
    line-height: 1.2;
}

.text > a:first-of-type:hover {
    color: red;
}

.no-resp {
    display: none;
}

a.web-img {
    pointer-events: none;
}

@media (min-width: 375px) {
    .text {
        width: 179px;
    }
}

@media (min-width: 400px) {
    .text {
        width: 100%;
        max-width: 100%;
    }
}

@media (max-width: 767px) {

    ul.resp > li.better-on-mobile {
        order: -1;
    }

}

@media (min-width: 768px) {

    .text {
        text-align: center;
    }

    .text > a:first-of-type {
        margin-bottom: 9px;
    }

    li a.thumb {
        display: none;
    }

    a.no-resp {
        display: block;
    }

    a.web-img {
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-position: center;
        margin-top: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        overflow: hidden;
        border-radius: 15px;
    }

    a.web-img:hover {
        transform: translate(-3px, -3px);
        box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
    }

    a.web-img video {
        border-radius: 15px;
    }
    
    a.web-img:hover {
        border: 1px solid red;
    }
    
    ul.resp {
        flex-direction: row;
        transition: all 0.4s;
        max-width: 1170px;
        padding: 0 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    ul.resp > li {
        transition: all 0.4s;
        flex: 1 1 30%;
        display: block;
        list-style-type: none;
        padding: 15px;
        margin-top: 10px;
        max-width: 350px;
    }

    /* ul.resp > li:hover {
        cursor: pointer;
    } */
}

@media (min-width: 1500px) {
    ul.resp {
        max-width: 1500px;
    }

    ul.resp > li {
        max-width: 450px;
    }
}

/* hudson burnham styling */
section.hb video.hb-mobile {
    position: relative;
    display: block;
    float: right;
    width: 350px;
    margin-left: 15px;
    opacity: 1;
}

section.hb video.hb-mobile.first {
    transition: width 0.4s ease-in, border-radius 0.4s ease-in, transform 0.4s ease-in, opacity 0.4s ease-in;
}

section.hb video.hb-mobile.small {
    width: 175px;
    border-radius: 24px;
    filter: drop-shadow(3px 6px 10px rgba(0,0,0,0.3));
    transform: rotate(2deg);
    margin-left: 30px;
    margin-bottom: 15px;
}

section.hb video.hb-mobile.large {
    width: 350px;
    border-radius: 57px;
    filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.5));
    float: none;
    margin-left: 0;
}

section.hb video.hb-desktop {
    display: none;
}

section.hb video.hb-mobile.first.true {
    opacity: 0;
    width: 0px;
}

@media (min-width: 400px) {
    section.hb video.hb-mobile.large {
        display: none;
    }
    section.hb video.hb-desktop {
        display: block;
    }
}

@media (min-width: 1200px) {
    section.hb video.hb-mobile.large {
        display: block;
        top: -50px;
        right: -100px;
        position: absolute;
        width: 250px;
        border-radius: 45px;
        filter: drop-shadow(5px 10px 5px rgba(0,0,0,0.5));
        transform: rotate(-3deg);
        z-index: 1;
    }
}

section.hb p.overview {
    width: 200px;
    float: right;
    position: relative;
    margin-left: 25px;
    left: -10px;
}

section.hb .overview .city {
    width: 100%;
}

section.hb .overview .camera {
    position: absolute;
    animation: cameraMove 3s ease-in-out infinite;
    animation-direction: alternate;
}

@keyframes cameraMove {
    0% { 
        width: 25%;
        top: 4%;
        right: 0%;
        transform: rotate(-60deg);
        filter: drop-shadow(15px 25px 15px rgba(0,0,0,1));

    }
    100% { 
        width: 15%;
        top: 58%;
        right: -10%;
        transform: rotate(0deg);
        filter: drop-shadow(2px 2px 2px rgba(0,0,0,1));

    }
}

