/* TRANSITIONS */

body,
.in-transition {
    transition: transform 400ms ease;
}

a {
    transition: all 0.3s;
}

.title-contain {
    transition: background-image 0.2s ease-in-out;
}

button.readmore {
    transition: background-color 0.2s ease;
}

.wide-gallery > div img {
    transition: height 0.3s ease-in;
}

.fade-enter-active, 
.fade-leave-active {
    transition: opacity .7s;
}

.fade-enter, 
.fade-leave-to {
    opacity: 0;
}

.slide-fade-enter-active,
.slide-fade-leave-active {
    transition: all 0.3s;
}
.slide-fade-enter, .slide-fade-leave-to {
    transform: translateY(-20px);
    opacity: 0;
}

.logo,
.logo .letter,
.logo .letter > div {
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    will-change: transform, opacity;
}

.logo,
.logo .letter {
    transition: 
        transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
        border-radius 3s cubic-bezier(0.86, 0, 0.07, 1) 0s,
        opacity 1s ease 0s;
}

.logo .r .top,
.logo .r .bottom {
    transition: 
        transform 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
        border-radius 1.3s cubic-bezier(0.86, 0, 0.07, 1) 0.5s,
        opacity 1s ease 0s;
}

.logo .k .top,
.logo .k .bottom {
    transition: 
        transform 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
        border-radius 1.6s cubic-bezier(0.86, 0, 0.07, 1) 0.6s,
        opacity 1s ease 0s;
}

.logo .d .top,
.logo .d .bottom {
    transition: 
        transform 1s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
        border-radius 1.8s cubic-bezier(0.86, 0, 0.07, 1) 0.7s,
        opacity 1s ease 0s;
}

nav {
    transition: 
        opacity 1.2s ease 1.4s;
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
    }
}