/* TRANSITIONS */

body,
.in-transition {
    transition: transform 400ms ease;
}

a {
    transition: all 0.3s;
}

.title-contain {
    transition: background-image 0.2s ease-in-out;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .7s;
}

.fade-enter, 
.fade-leave-to {
    opacity: 0;
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
    }
}