/* TRANSITIONS */

body,
.in-transition {
    transition: transform 400ms ease;
}

a {
    transition: all 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
    }
}